.about {
  min-height: 500px;
  background-color: aliceblue;
}

.about h2{
  text-align: center;
  color: darkcyan;
}

.about .me{
  height: 250px;
  border-radius: 40%;
  margin-bottom: 12px;
}

.about button{
  margin-top: 12px;
}